# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import time
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#read the csv file to create dataframe and define variables
file = os.path.join("..", "output_data", "cities.csv")

In [3]:
cities_df = pd.read_csv(file)

In [4]:
df = pd.DataFrame(cities_df)
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
#Use the Lat and Lng as locations 
Locations_coordinates = cities_df[["Lat", "Lng"]]
Locations_coordinates

       Lat     Lng
0    68.05   39.51
1   -20.41   57.70
2    77.48  -69.36
3    40.71  112.04
4   -33.93   18.42
..     ...     ...
543  33.97   36.66
544  24.01 -104.61
545  49.65    0.71
546  51.07  132.56
547  27.72  109.18

[548 rows x 2 columns]

In [7]:
#Humidity as the weight.
humidity_cities_weight = df["Humidity"].astype(float)
humidity_cities_weight.head()

0    72.0
1    74.0
2    73.0
3    39.0
4    76.0
Name: Humidity, dtype: float64

In [8]:
#Add Heatmap layer to map.
fig=gmaps.figure(map_type='SATELLITE')
fig.add_layer(gmaps.heatmap_layer(Locations_coordinates,weights=humidity_cities_weight,dissipating = False, max_intensity=10,point_radius=1,opacity=1))
plt.savefig("vacationheatmap.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
#Narrow down the cities to fit weather conditions.
fit1_city = cities_df.loc[cities_df["Max Temp"]<80, :]
fit2_city = fit1_city.loc[cities_df["Max Temp"]>70, :]
fit2_city.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
18,18,bambous virieux,75,MU,1558378758,74,-20.34,57.76,78.80,11.41
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93

In [10]:
#wind conditions
fit3_city = fit2_city.loc[fit2_city["Wind Speed"]<10,:]
fit3_city

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93
44,44,puerto ayora,26,EC,1558378762,86,-0.74,-90.35,79.00,5.99
59,59,bontang,54,ID,1558378765,99,0.12,117.47,74.22,2.62
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
91,91,bella vista,62,AR,1558378771,80,-28.51,-59.05,75.66,7.29
100,100,sorong,95,ID,1558378773,93,-0.86,131.25,77.28,2.01
104,104,mbigou,70,GA,1558378773,94,-1.90,11.91,72.60,1.63
106,106,hilo,40,US,1558378755,69,19.71,-155.08,79.00,4.70
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
153,153,porto novo,20,BR,1558378783,53,-23.68,-45.44,77.00,4.70
159,159,manado,40,ID,1558378784,100,1.49,124.85,73.40,4.97
164,164,kathmandu,75,NP,1558378762,73,27.71,85.32,71.60,6.67
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
190,190,saint-georges,94,CA,1558378595,76,46.12,-70.67,71.01,8.99
201,201,luanda,20,AO,1558378792,78,-8.83,13.24,78.80,6.93
203,203,namatanai,100,PG,1558378793,88,-3.66,152.44,77.46,5.95
211,211,labuhan,18,ID,1558378794,86,-2.54,115.51,75.48,2.80
221,221,marawi,12,PH,1558378796,93,8.00,124.29,77.00,5.01
222,222,samana,75,EC,1558378796,94,0.12,-76.97,77.00,4.70
223,223,koronowo,20,PL,1558378736,60,53.31,17.94,71.01,3.36
229,229,aketi,100,CD,1558378804,96,2.74,23.78,72.60,1.03
234,234,katobu,17,ID,1558378814,93,-4.94,122.53,75.66,1.54
235,235,banjar,86,ID,1558378616,98,-7.37,108.54,73.86,1.14
237,237,andradas,20,BR,1558378535,56,-22.07,-46.57,79.00,6.93
264,264,saint-leu,68,RE,1558378835,88,-21.15,55.28,78.01,3.36
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
288,288,san quintin,95,PH,1558378841,76,17.54,120.52,78.72,3.62
294,294,takoradi,100,GH,1558378843,85,4.89,-1.75,78.90,3.56
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
301,301,aitape,100,PG,1558378845,87,-3.15,142.36,77.64,3.96
302,302,alofi,75,NU,1558378845,94,-19.06,-169.92,75.20,6.93
310,310,airai,35,TL,1558378846,73,-8.93,125.41,75.12,7.20
311,311,balkanabat,99,TM,1558378846,41,39.51,54.36,79.80,6.69
322,322,tshikapa,99,CD,1558378849,58,-6.42,20.79,79.62,2.15
334,334,san patricio,94,PY,1558378853,82,-26.98,-56.83,76.74,7.49
345,345,eseka,100,CM,1558378855,91,3.65,10.77,76.92,3.13
354,354,daru,78,SL,1558378857,89,7.99,-10.85,79.62,3.60
358,358,alyangula,100,AU,1558378858,100,-13.85,136.42,71.60,3.36
361,361,boyolangu,80,ID,1558378858,89,-8.09,111.90,74.76,4.65
385,385,santa maria,99,BR,1558378868,85,-29.69,-53.81,71.16,5.95
393,393,juiz de fora,20,BR,1558378833,44,-21.76,-43.35,75.20,8.05
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
431,431,cartagena del chaira,98,CO,1558378878,89,1.33,-74.84,79.62,3.22
443,443,lucapa,65,AO,1558378880,48,-8.42,20.74,78.36,2.73
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17
450,450,lorengau,100,PG,1558378869,89,-2.02,147.27,77.46,1.12
468,468,san cristobal,75,EC,1558378885,37,-0.39,-78.55,71.60,4.70
469,469,san ramon,75,NI,1558378828,65,12.92,-85.84,77.00,5.55
478,478,samarinda,52,ID,1558378886,98,-0.50,117.14,75.30,2.08
485,485,san-pedro,92,CI,1558378888,89,4.75,-6.64,78.90,3.56
494,494,baylo,1,PH,1558378889,69,7.85,126.06,77.00,1.07
516,516,malindi,75,KE,1558378808,88,-3.22,40.12,77.00,9.17
534,534,marzuq,84,YE,1558378896,36,14.40,46.47,79.44,6.02
539,539,palu,72,ID,1558378897,80,-0.90,119.87,78.72,3.83

In [11]:
fit4_city = fit3_city.loc[fit3_city["Cloudiness"] ==0,:]
fit4_city

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
weather_criteria=pd.DataFrame(fit4_city)
weather_criteria
weather_criteria = weather_criteria.dropna(how='any')
weather_criteria

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

In [39]:
hotel_df=pd.DataFrame()
hotel_df['hotel Name']=""
hotel_df['City']=weather_criteria['City']
hotel_df['Country']=weather_criteria['Country']
hotel_df.head()

    hotel Name          City Country
70         NaN  ponta do sol      BR
88         NaN      cidreira      BR
138        NaN     morondava      MG
139        NaN         vaini      IN
176        NaN         nador      MA

In [48]:
 # Use the lat/lng we recovered to identify cities
for index, row in hotel_df.iterrows():
    
    # get lat, lng from df
    Lat = Latitude = row["Lat"]
    Longitude = row["Lng"]
    city = row['City']
    country = row ['Country']
    
    print(f"Searching within {row['City']}, {row['Country']}...")

KeyError: 'Lat'

In [52]:

# params dictionary to update each iteration
params = {
    "Location": f"{lat},{lng}",
    "radius": 5000,
    "types": "hotel",
    "key": gkey
}
    #assemble url and make API request
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
requested = requests.get(base_url, params = params)
    
results = response ['results']

NameError: name 'lat' is not defined

In [50]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [51]:
# Add marker layer ontop of heat map


# Display figure

In [53]:
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

In [55]:
heat_layer = gmaps.heatmap_layer(Locations_coordinates,weights=humidity_cities_weight,dissipating = False, max_intensity=10,point_radius=1,opacity=1)

In [56]:
fig.add_layer(heat_layer)

In [58]:
plt.savefig("vacationheatmap.png")

In [59]:
fig

Figure(layout=FigureLayout(height='420px'))